<!DOCTYPE html>
<html ng-app="FlagsApp">
<head>
<meta charset="utf-8">
<script type="text/javascript" src="../js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="../js/angular/angular.min.js"></script>
<script type="text/javascript" src="../js/angular/angular-translate.min.js"></script>
<script type="text/javascript" src="../js/angular/angular-translate-loader-partial.min.js"></script>
<script type="text/javascript" src="../services/flags.services.js" type="text/javascript"></script>
<script type="text/javascript" src="../controller/controller.js"></script>

<link rel='stylesheet' href="../css/bootstrap/css/bootstrap.css"></link>

</head>
<body>
	<div ng-controller="FlagsCtrl">
		
		<h3 id="title">{{ 'lang' | translate }}:</h3>
		<select ng-model="language" ng-change="changeLang();">
            <option value="cs">{{ 'cs' | translate }}</option>
			<option value="de">{{ 'de' | translate }}</option>
			<option value="en">{{ 'en' | translate }}</option>
			<option value="es">{{ 'es' | translate }}</option>
			<option value="fr">{{ 'fr' | translate }}</option>
			<option value="it">{{ 'it' | translate }}</option>
			<option value="nl">{{ 'nl' | translate }}</option>
        </select>
		
		<h3 id="title">{{ 'allcountries' | translate }}</h3>
		<table>
		    <tr ng-repeat="country in countries" ng-switch on="$index % 3">
		        <td ng-switch-when="0">
		            {{countries[$index].num}} {{countries[$index].label}} <br> <img height="40" weight="60" ng-src="{{getFlag(countries[$index].alpha2)}}"></img>
		        </td>
		        <span ng-show="countries[$index+1]">
		            <td ng-switch-when="0">
		                {{countries[$index+1].num}} {{countries[$index+1].label}} <br> <img height="40" weight="60" ng-src="{{countries[$index+1].alpha2?getFlag(countries[$index+1].alpha2):null}}"></img>
		            </td>
		        </span>    
		        <span ng-show="countries[$index+2]">    
		            <td ng-switch-when="0">
		                {{countries[$index+2].num}} {{countries[$index+2].label}} <br> <img height="40" weight="60" ng-src="{{countries[$index+2].alpha2?getFlag(countries[$index+2].alpha2):null}}"></img>
		            </td>
		        </span>
		    </tr>
		</table>

	</div>

</body>
</html>